<settings>
    <setting propertyKey="@Properties.sn" title="@Strings.sn">
        <settingConfig type="alphaNumeric"/>
    </setting>
    <setting propertyKey="@Properties.key" title="@Strings.key">
        <settingConfig type="alphaNumeric"/>
    </setting>
    <setting propertyKey="@Properties.activityType" title="@Strings.activityType" prompt="@Strings.activityTypePrompt">
        <settingConfig type="list">
            <listEntry value="0">@Strings.Running</listEntry>
            <listEntry value="1">@Strings.Cycling</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.myString2" title="@Strings.MyStringTitle">
        <settingConfig type="alphaNumeric"/>
    </setting>
    <setting propertyKey="@Properties.myString2" title="@Strings.MyStringTitle">
        <settingConfig type="alphaNumeric"/>
    </setting>
</settings>